---
layout: default
---

<header class="editable"><nav class="nav"><ul><li><a href="/frieza/index.html">HOME</a></li><li><a href="https://github.com/colorlessenergy/frieza">WORK</a></li><li><a href="http://www.dragonballz.com/">OFFICIAL</a></li></ul></nav><nav class="responsive-nav"><div><p>FRIEZA</p><img alt="burger menu" src="/frieza/images/menu-icon.svg" /></div><div class="nav-responsive"><div><p>FRIEZA</p><img alt="burger menu" src="/frieza/images/menu-icon.svg" /></div><ul><li><a href="/frieza/index.html">HOME</a></li><li><a href="https://github.com/colorlessenergy/frieza">WORK</a></li><li><a href="http://www.dragonballz.com/">OFFICIAL</a></li></ul></div></nav><div class="intro"><h1>Frieza</h1><p>EMPEROR OF THE UNIVERSE.</p></div></header>
<main>
  <aside class="editable">
    <h2 class="center-flex">EXPERTISE</h2>
    <div class="center-flex">
      <ul>
        <li>Mass Destruction</li>
        <li>Really Strong</li>
        <li>Ruthless</li>
      </ul>
    </div>
  </aside>
  <section class="art editable">
    <div>
      <h2>THE ART BEHIND FRIEZA</h2>
      <p>"Simian bastard... I am Lord Frieza. None surpass me! No one even comes close! Etch this into your skull; I am emperor of the universe! The likes of you are only fit to grovel at my feet! Or better still... to die in disgrace AT THE HANDS OF YOUR MASTER!!!"</p>
      <p class="link"><a href="#">Frieza</a></p>
    </div>
  </section>
  <section class="frieza-forms editable">
    {% for frieza in site.data.forms %}
    <div class="frieza-forms-contain">
      <div>
        <h3>{{frieza.title}}</h3>
        <p>{{frieza.text}}</p>
      </div>
      <img src="{{site.baseurl}}/{{frieza.image_path}}" alt="{{frieza.title}}" />
    </div>
    {% endfor %}
  </section>
  <section class="art art2 editable">
    <div>
      <h2>Main Principle of Frieza</h2>
      <p>Frieza has alot of joy destroying living creatures and wants to rule over everyone. He is setting out to manipulate anyone to get what he wants. He is cold-hearted and his has no feelings for anyone or anything.</p>
    </div>
  </section>
  <section class="stats editable">
    <div>
      <h2>100 MLN</h2>
      <p>KILLED</p>
    </div>
    <div>
      <h2>Unlimited</h2>
      <p>POWER POTENTIAL</p>
    </div>
  </section>
  <section class="art width-art editable">
    <div>
      <h2>
        <span>Frieza</span> has
        unlocked a lot <span>potential</span>
    </h2>
    <p class="link"><a href="#">learn more</a></p>
    </div>
  </section>
  <aside class="logo editable"><p><img alt="dbs logo" src="/frieza/images/dbs-logo.png" /> <img alt="dbz logo" src="/frieza/images/dbz-logo.png" /></p></aside>
</main>
{% include footer.html %}
