---
layout: default
---

<header>
  {% include nav.html %}
  <div class="intro editable">
    <h1 class="editable">Frieza</h1>
    <p class="editable">EMPEROR OF THE UNIVERSE.</p>
  </div>
</header>
<main>
  <aside>
    <h2 class="center-flex">EXPERTISE</h2>
    <div class="center-flex">
      <ul>
        <li>Mass Destruction</li>
        <li>Really Strong</li>
        <li>Ruthless</li>
      </ul>
    </div>
  </aside>
  <section class="art">
    <div>
      <h2>THE ART BEHIND FRIEZA</h2>
      <p>"Simian bastard... I am Lord Frieza. None surpass me! No one even comes close! Etch this into your skull; I am emperor of the universe! The likes of you are only fit to grovel at my feet! Or better still... to die in disgrace AT THE HANDS OF YOUR MASTER!!!"</p>
      <p class="link"><a href="#">Frieza</a></p>
    </div>
  </section>
  <section class="frieza-forms">
    {% for frieza in site.data.forms %}
    <div class="frieza-forms-contain">
      <div>
        <h3>{{frieza.title}}</h3>
        <p>{{frieza.text}}</p>
      </div>
      <img src="{{site.baseurl}}/{{frieza.img}}" alt="{{frieza.title}}" />
    </div>
    {% endfor %}
  </section>
  <section class="art art2">
    <div>
      <h2>Main Principle of Frieza</h2>
      <p>Frieza has alot of joy destroying living creatures and wants to rule over everyone. He is setting out to manipulate anyone to get what he wants. He is cold-hearted and his has no feelings for anyone or anything.</p>
    </div>
  </section>
  <section class="stats">
    <div>
      <h2>100 MLN</h2>
      <p>KILLED</p>
    </div>
    <div>
      <h2>Unlimited</h2>
      <p>POWER POTENTIAL</p>
    </div>
  </section>
  <section class="art width-art">
    <div>
      <h2>
        <span>Frieza</span> has
        unlocked a lot <span>potential</span>
    </h2>
    <p class="link"><a href="#">learn more</a></p>
    </div>
  </section>
  <aside class="logo">
    <img src="{{site.baseurl}}/images/dbs-logo.png" alt="dbs logo" />
    <img src="{{site.baseurl}}/images/dbz-logo.png" alt="dbz logo" />
  </aside>
</main>
{% include footer.html %}
