body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

aside h2 {
  color: #10c18a;
  background-color: #031022;
  font-size: 40px;
  margin: 0;
  height: 100px;
}

aside div {
  background-color: #0f2647;
  height: 250px
}

aside ul {
  margin: 0;
  padding: 0;
}


aside ul li {
  color: #fff;
  font-size: 25px;
}

footer {
  align-items: center;
  background-color: #17a061;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

footer div {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 80%;
}

footer div p {
  font-weight: 800;
}

footer div p a {
  color: #fff;
  text-decoration: none;
}

footer div p a:hover {
  color: #0f2647;
}

footer p {
  color: #fff;
}

header {
  background-image: url(images/youngfreeze.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header .intro {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

header .intro h1, header .intro p {
  color: #fff;
  margin: 1% 0;
}

header .intro h1 {
  font-size: 50px;
}

header .intro p  {
  font-size: 25px;
}

main .art {
  align-items: center;
  display: flex;
  height: 500px;
  margin-left: 3%;
}

main .art div {
  width: 40%;
}

main .art h2, main .frieza-forms .frieza-forms-contain div h3  {
  color: #0f2647;
  font-size: 40px;
}

main .art p, main .frieza-forms .frieza-forms-contain div p {
  color: #5a6c86;
  font-size: 19px;
}

main .art p:first-of-type {
  margin-bottom: 30px;
}

main .art .link a {
  border: #17a061 2px solid;
  color: #17a061;
  font-weight: 800;
  padding: 8px 10px;
  text-decoration: none;
  background-size: 200% 200%;
  background-image: linear-gradient(to top, #17a061 50%, transparent 50%);
  transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

main .art .link a:hover {
  color: #fff;
  border-color: #17a061;
  background-image:
  linear-gradient(to top, #17a061 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

main .frieza-forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1200px;
}


main .frieza-forms .frieza-forms-contain {
  display: flex;
  justify-content: space-around;
}

main .frieza-forms .frieza-forms-contain div, main .frieza-forms .frieza-forms-contain img  {
  height: 45%;
  width: 45%;
}

main .frieza-forms .frieza-forms-contain div h3 {
  margin: 0 0 14px 0;
}

main .stats {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

main .stats h2 {
  color: #17a061;
  font-size: 50px;
  margin-bottom: 0px;
}

main .stats p {
  color: #5a6c86;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

main .width-art div {
  width: 30%;
}

main .width-art div span {
  color: #17a061;
}

nav {
  height: 100px;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  list-style-type: none;
  margin: 0 2% 0 0;
  padding: 0;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
  margin: 0 2%;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 1s ease;
}

nav ul li a:hover {
  color: #10c18a;
}

.center-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.logo img {
  width: 40%;
}

.responsive-nav {
  display: none;
}

.responsive-nav div {
  align-items: center;
  background-color: rgba(16, 193, 138, 0.5);
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.responsive-nav div img, .responsive-nav div p {
  margin: 0 3%;
}

.responsive-nav div img {
  cursor: pointer;
}

.responsive-nav p {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

.responsive-nav .nav-responsive {
  background-color: rgba(16, 193, 138, 1);
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
}

.responsive-nav .nav-responsive div {
  border-bottom: 1px solid #fff;
}

.responsive-nav .nav-responsive ul {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
}

.responsive-nav .nav-responsive ul li {
  margin: 2%;
}

.responsive-nav .nav-responsive.toggle-nav {
  transform: translateY(0);
}


@media screen and (max-width: 787px) {
  header {
    background-position: center;
  }

  main .art {
    height: 300px;
  }

  main .art div {
    width: 75%;
  }

  main .art2, main .width-art {
    height: 200px;
  }

  main .art h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  main .art p {
    font-size: 18px;
  }

  main .frieza-forms {
    align-items: center;
    height: 1800px;
  }

  main .frieza-forms .frieza-forms-contain {
    flex-direction: column;
    width: 95%;
  }

  main .frieza-forms .frieza-forms-contain div, main .frieza-forms .frieza-forms-contain img {
    width: 100%;
  }

  nav {
    height: 50px;
  }

  .responsive-nav {
    display: block;
  }

  .nav {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  main .art div {
    width: 90%;
  }

  main .art h2, main .frieza-forms .frieza-forms-contain div h3 {
    font-size: 20px;
  }

  main .art p, main .frieza-forms .frieza-forms-contain div p {
    font-size: 15px;
  }

  main .frieza-forms {
    height: 1100px;
  }

  main .stats div {
    text-align: center;
  }

  main .stats h2 {
    font-size: 20px;
  }

  main .stats p {
    font-size: 18px;
  }

}
