<nav class="nav">
  <ul>
    <li><a href="{{site.baseurl}}/index.html">HOME</a></li>
    <li><a href="https://github.com/colorlessenergy/frieza">WORK</a></li>
    <li><a href="http://www.dragonballz.com/">OFFICIAL</a></li>
  </ul>
</nav>
<nav class="responsive-nav">
  <div>
    <p>FRIEZA</p>
    <img src="images/menu-icon.svg" alt="burger menu">
  </div>
  <div class="nav-responsive">
    <div>
      <p>FRIEZA</p>
      <img src="images/menu-icon.svg" alt="burger menu">
    </div>
    <ul>
      <li><a href="{{site.baseurl}}/index.html">HOME</a></li>
      <li><a href="https://github.com/colorlessenergy/frieza">WORK</a></li>
      <li><a href="http://www.dragonballz.com/">OFFICIAL</a></li>
    </ul>
  </div>
</nav>
